<div class="fluid-container">
    <div class="row">
        <div class="col-xl-12">

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">News Scraper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" id="scrapeBtn" href="#">Scrape New Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/clear">Clear the Articles</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-xl-11">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Fluid jumbotron</h1>
                            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                        </div>
                    </div>
                </div>
            </div>

            <table class="tables" id="scrapedTable" style="width:100%">
                <h7>Toronto Star Headlines</h7>
                <tr>
                    <th>Article Title</th>
                    <th>Save?</th>
                </tr>
                {{#each scrapedItems}}
                <tr>
                    <td><a href="https://www.thestar.com{{this.link}}">{{this.title}}{{this._id}}</a></td>
                    <td>
                        <button value="{{this._id}}" class="saveBtns">Save</button>
                    </td>
                </tr>
                {{/each}}
            </table>


        </div>
    </div>

</div>