.nav.justify-content-end {
display:inline-flex;
background: pink;
width: 100%;
position: fixed;
z-index: 2;
}
.container {
    padding: 0;
}

.btn.btn-primary {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn.btn-primary:hover {opacity: 1}
  
  .btn.btn-primary:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.background-container{
    height: 400px;
}

.tables {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

h7 {
    text-align:center;
}
tr:nth-child(even) {
    /* background-color: #dddddd; */
    background-color: rgb(143,153,196, 0.8);
}

tr:nth-child(odd) {
    /* background-color: #dddddd; */
    background-color: rgb(255,255,255, 0.8);
}

body {
    height: 100%;
    background-image: url("../img/purple-globe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

a {
    color: black;
}
.table-container {
    font-weight:bold;
    max-width: 90%;
    margin: auto;
    margin-bottom:20px;
}

#saveBtns{
    background-color:rgb(141,85,143);
} 

#noteBtns, #saveNoteBtns {
    background-color: rgb(68,34,204);

}